In [3]:
import os
os.chdir('..')

In [4]:
import urbanflow as uf

In [5]:
df = uf.load_monthly_subway(line='2호선', station='낙성대')

/disk1/jupyter/smhan/urbanflow/transportation/subway/monthly_subway.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
df

           id        date line_number station_name  getin_count  getoff_count
0           1  2015-01-01         2호선          낙성대        14586         14889
1         629  2015-01-02         2호선          낙성대        28755         27293
2        1245  2015-01-03         2호선          낙성대        23603         21652
3        1655  2015-01-04         2호선          낙성대        18958         19979
4        2316  2015-01-05         2호선          낙성대        33394         33110
...       ...         ...         ...          ...          ...           ...
1891  1077414  2020-03-05         2호선          낙성대        21505         20734
1892  1079767  2020-03-09         2호선          낙성대        22718         22405
1893  1078592  2020-03-07         2호선          낙성대        14975         13513
1894  1079181  2020-03-08         2호선          낙성대        10605         10479
1895  1080359  2020-03-10         2호선          낙성대        21992         21196

[1896 rows x 6 columns]