In [1]:
import os
os.chdir('..')

In [2]:
import urbanflow.transportation as uft

In [3]:
df = uft.load_monthly_subway(line='3호선')

/disk1/jupyter/smhan/urbanflow/transportation/subway/monthly_subway.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [4]:
df

,id,date,line_number,station_name,getin_count,getoff_count
0,484,2015-01-01,3호선,오금,2247,2258
1,485,2015-01-01,3호선,경찰병원,2473,2613
2,486,2015-01-01,3호선,가락시장,3413,3080
3,487,2015-01-01,3호선,수서,4506,4982
4,488,2015-01-01,3호선,일원,2612,3227
...,...,...,...,...,...,...
98491,1694854,2022-12-30,3호선,불광,16584,17805
98492,1694855,2022-12-30,3호선,연신내,37972,35777
98493,1694856,2022-12-30,3호선,구파발,21839,20738
98494,1694857,2022-12-30,3호선,지축,6219,5928
98495,1694919,2022-12-30,3호선,남부터미널(예술의전당),30547,32162

In [5]:
import urbanflow.demographics as ufp

In [6]:
from datetime import datetime

In [7]:
help(ufp.load_live_population)

Help on function load_live_population in module urbanflow.demographics.live_population.hourly_population:

load_live_population(areaids=None, start_date=20170101, end_date=20170101)

In [8]:
import pandas as pd

df = ufp.load_live_population(areaids=['1101053010002'], start_date=20170101, end_date=20230000)#(start_date=datetime(2017, 1, 1, 1), end_date=datetime(2017, 1, 1, 2))
# pd.DataFrame(df)

In [10]:
df

,ymd,hour,dong,areaid,total,m00,m10,m15,m20,m25,...,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70
0,20170101,0,11110530,1101053010002,1487.0000,47.0000,21.0000,26.0000,73.0000,61.0000,...,66.0000,55.0000,45.0000,77.0000,50.0000,33.0000,47.0000,28.0000,57.0000,200.0000
1,20170101,1,11110530,1101053010002,1398.0000,62.0000,27.0000,20.0000,72.0000,63.0000,...,58.0000,39.0000,35.0000,70.0000,53.0000,36.0000,47.0000,23.0000,60.0000,184.0000
2,20170101,2,11110530,1101053010002,1434.0000,65.0000,29.0000,22.0000,78.0000,56.0000,...,73.0000,41.0000,38.0000,68.0000,57.0000,36.0000,45.0000,26.0000,58.0000,167.0000
3,20170101,3,11110530,1101053010002,1348.0000,57.0000,25.0000,23.0000,67.0000,49.0000,...,63.0000,43.0000,33.0000,59.0000,55.0000,37.0000,43.0000,24.0000,59.0000,169.0000
4,20170101,4,11110530,1101053010002,1298.0000,52.0000,23.0000,25.0000,67.0000,53.0000,...,56.0000,43.0000,32.0000,58.0000,55.0000,32.0000,43.0000,22.0000,50.0000,188.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49945,20221019,19,11110530,1101053010002,1159.5925,43.2816,19.2363,31.9655,31.5097,43.3837,...,52.6303,51.4988,52.2194,38.6049,46.7202,42.6842,55.4849,31.5068,32.5309,75.7169
49946,20221019,20,11110530,1101053010002,1050.6607,41.7580,18.5591,30.4531,28.8136,42.3323,...,37.8802,42.2322,42.3007,37.9902,45.7067,36.2255,46.5436,30.5719,29.8509,62.6100
49947,20221019,21,11110530,1101053010002,980.4836,37.1597,16.5154,40.6100,30.6352,33.8855,...,45.2578,41.6124,34.9585,28.8010,45.7370,41.4986,44.2575,26.4395,28.2202,62.4407
49948,20221019,22,11110530,1101053010002,861.0704,30.7222,13.6543,23.7743,34.3260,23.7880,...,38.3473,41.3478,27.3247,28.9832,34.8712,28.0728,42.5404,28.1967,28.6010,58.8648
49949,20221019,23,11110530,1101053010002,595.2187,28.5010,12.6671,15.7885,20.3773,14.0418,...,19.2677,21.3269,28.1841,22.6759,30.6894,24.2522,29.8760,19.8171,20.3457,40.7727

In [9]:
df['m20']

0        73.0000
1        72.0000
2        78.0000
3        67.0000
4        67.0000
          ...
49945    31.5097
49946    28.8136
49947    30.6352
49948    34.3260
49949    20.3773
Name: m20, Length: 49950, dtype: float64